<%- include("Partials/header") -%>

<div class="adj">
  <h1>Delete Content</h1>
  <% posts.forEach(function(ele){ %>
  <h1> <%= ele.title %> </h1>
  <p>
    <%=ele.content.substring(0, 100) + " ..." %>
    <a href="/posts/<%= ele._id %>"
      >Read More</a
    >
    <a href="/delete/<%= ele._id %>"
      >Delete</a
    >
  </p>
  <% }) %>
</div>

<%- include("Partials/footer") -%>
